
@{
    ViewBag.Title = "Home";
}


<style>

    .Img1 {
        width: 100%;
        height: 100vh
    }
</style>
<!-- footer -->

<section>
    <div class="IndexPage position-relative">
        <img class="Img1" src="~/assets/images/background/back3.jpeg" />
        <div class="position-absolute" style="height:150px">
            <h1>Shehab</h1>
        </div>
    </div>
    <div class="IndexText ">
   
    </div>
</section>
<!-- ============================================================== -->
<footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
</footer>
<!-- ============================================================== -->
<!-- End footer -->


