@model Store.BL.ViewModels.CommentVM

@{
    ViewData["Title"] = "Edit";
}

<center>
    <h1>Edit Comment</h1>
</center>

<div class="card">
    <form class="form-control" asp-controller="Comment" asp-action="Edit" method="post">



        <label asp-for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>

        <br />
        <label asp-for="UserComment">User Comment</label>
        <input type="text" class="form-control" asp-for="UserComment">
        <span asp-validation-for="UserComment" class="text-danger"></span>

        <br />

        <a asp-controller="Comment" asp-action="Index" class="btn btn-primary">Back To Data</a>
        <input type="submit" value="Edit" class="btn btn-success" />
        <input type="reset" value="Cancel" class="btn btn-warning" />

    </form>
</div>